{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    

    <div class="col-span-3">
        <div class="swiper h-96 w-full rounded-xl overflow-hidden">
            <div class="swiper-wrapper">
                {% for img in item.images.all %}
                    <div class="swiper-slide">
                        <img src="{{ img.image.url }}" class="w-full h-full object-contain">
                    </div>
                {% empty %}
                    <div class="w-full h-full bg-gray-200 flex items-center justify-center text-gray-500">
                        No image
                    </div>
                {% endfor %}
            </div>
           
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

   
    <div class="col-span-2 p-6 bg-gray-200 rounded-xl flex flex-col h-full">
        <div class="flex-1">
            <h1 class="mb-6 text-3xl">{{ item.name }}</h1>
            <p class="text-gray-500"><strong>Price: </strong> {{ item.price }}</p>
            <p class="text-gray-500"><strong>Seller: </strong> {{ item.created_by.username }}</p>
            
            {% if item.Location %}
                 <p class="text-gray-700 ">
                    <strong class="text-gray-500">Location: </strong><br>
                    {{ item.Location }}
                 </p>
            {% endif %}

            {% if item.description %}
                 <p class="text-gray-700 ">
                    <strong class="text-gray-500">Description: </strong><br>
                    {{ item.description }}
                 </p>
            {% endif %}
        </div>

       
        <div class="mt-6">
            <a href="#" class="block w-full text-center px-6 py-4 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">
                Contact Seller
            </a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const swiper = new Swiper('.swiper', {
            loop: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    });
</script>
{% endblock %}